@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=Roboto:wght@300;400;900&display=swap');
*{
    margin:0;
    padding: 0;
   
    box-sizing: border-box;
    

}
body{
  
    background-size:cover;
    height: auto;
    width: auto;

    padding:0;
    margin:0;
}
.flex-container{
    width:60%;
    height:auto;
display:flex;
flex-direction: row-reverse;
margin: 100px;
flex-wrap: wrap-reverse;
justify-content:flex-start;

}
.mmm{
    color: black;
    font-size: 25px;
}

.flex-box{
    width:400px;
    height:400px;
    background: linear-gradient(rgb(255, 221, 110),rgb(255, 234, 177));
    font-size: 30px;
    color: antiquewhite;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
    margin: 10px;
    flex-direction: row;

}
.image{
    padding: 10px;
}
.abt{
    font-size: 20px;
 
}
.bb{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9){
    .bb{
        width: 100%;
        height:auto;
    }

}
.footer{
    margin-left: 0px;
    margin-top: 180px;
    padding:20px;
    background: linear-gradient(45deg,rgb(184, 106, 5),rgb(221, 221, 221));
    justify-content: baseline;
  
  }
  .foot{
    margin-left: 500px;
 
   
  }
  .wow{
    margin-left: 500px;
    color: black;
  
  }
  .container{
    width:80%;
    margin:0 auto;
    overflow: hidden;
}
header{
    background: linear-gradient(45deg,rgb(255, 191, 72),rgb(177, 121, 0));
    font-family:'Dancing Script', cursive;
    color: white;
    padding:10px 0;
}

header nav{
    float: right;
    margin-top:10px;
}

header ul{
    margin:0;
    padding:0;
}

header li{
    display: inline;
    padding:0 20px;
    font-weight:bold;
    font-size:15px;
    font-family:'Dancing Script', cursive;
}
header a{
    color:white;
    text-decoration: none;
}

header a:hover{
    color:#F4B41A;
}

#caption{
    float:left;
}

#caption h1{
    margin:0;
}

header .logo-gold{
    color:#f8f8f8;
}
#hero{
    min-height:400px;
    background-image: url(top-view-book-flowers.jpg);
   
    background-position: center;
    background-size: cover;
    
}

#hero h4{
    font-size: 80px;
    color: #a16900;
    margin-top: 150px;
    justify-content: center;
}
.container{
    width:80%;
    margin:0 auto;
    overflow: hidden;
}






.box{
    width: 25%;
    float: left;
    text-align: center;
    padding: 30px;
    display: flex;

    
}
.card {
    background: #ffd49d;
    border-radius: 2px;
    display: inline-block;
   
    margin: 1rem;
    position: relative;
   
  }
  
  .aboutus{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
  }
  .aboutcol{
    flex-basis:48%;
    padding: 30px 2px;

  }

  .aboutcol img{
    width:75%;
  }

  .aboutcol h1{
    padding-top: 0;
    font-size: 50px;
    color: #F4B41A;

  }

  .aboutcol p{
    padding: 15px 0 25px;
    font-size: 20px;
  }



  .herobtn{
    display: inline-block;
    text-decoration: none;
    background-color: #ff723b;
    border: 1px solif #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor:pointer;
   
}
.redbtn{
    border:1px solid#f44336;
    background: transparent;
    color: #f44336;
  }

  .redbtn:hover{
    color:#720000;
  }
  .num{
    font-size: 40px;
    color: blue;
    margin-left: 480px;
  }
  .rows{
 
   display:grid;
   grid-template-columns: repeat(auto-fit,minmax(0px,0.5fr));
   
   grid-gap:1px;
 
  }
  .m{
    font-size: 40px;
    color: #720000;
    font-weight: 800;
    padding: 50px;
    margin-left: 450px;
  }
  .l{
    margin-left: 500px;
    color: blue;
    font-size: 20px;
    padding:10px;
  }

  #forms{
    margin-top: 5%;
    margin: 5%;
    padding: 100px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
#forms .form-group{
    font-size: 20px;
    color: #c57600;
    font-weight: bold;
}
input{
    width: 250px;
    padding: 5px;
    margin: 2px 2px;
}

#forms .button{
    font-size: 15px;
    font-weight: bold;
    color: #ffcdf3;
    background: linear-gradient(45deg,rgb(255, 191, 72),rgb(177, 121, 0));
    border: 1px  #c97800;
}

#forms button:hover{
    color: #ffbaf3;
    background-color: rgb(255, 255, 255);
}

.footer{
    padding: 4px;
    color: #d6c800;
    background-color:white;
    text-align: center;
}
#skills{
    background-color: rgb(255, 255, 255);
    padding:0px;
    text-align: center;
}

.box{
    width: 25%;
    float: left;
    text-align: center;
    padding: 25px;
    
}

  
  .card {
    background: #ffffff;
    border-radius: 2px;
    display: inline-block;
   
    margin: 1rem;
    position: relative;
   
  }
  
  .card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
#skills h2{
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;

}

#skills h3{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
}
#skills p{
    font-size: 20px;
  
color:rgb(12, 11, 11);
padding: 20px;
}